body {
    background-color: #b2dfda;
    font-family: Helvetica;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    background-color: #35535b;
    width: auto;
    height: 55px;
    font-size: 20px;
    color: #b2dfda;
}

.topnav a {
    color: #b2dfda;
    font-size: 20px;
    font-family: Cambria;
}

.leftnav {
    text-align: left;
}

.rightnav {
    text-align: right;
}

.topnav a:hover {
    background-color: #dc9e24;
    color: #b2dfda;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #35535b;
}

li {
    display: inline;
    padding: 25px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria;
    background-color: #35535b;
    color: #b2dfda;
    width: 100%;
    padding: 32px 0;
    font-size: 20px;
}

.footerleft ul {
    text-align: left;
    display: flex;
}

.footerleft li {
    display: flex;
    align-items: center;
}

.footerleft img{
    padding-right: 16px;
}

.footerright ul {
    text-align: right;
    display: flex;
}


.me {
    border-radius: 169px;
    margin-left: 75px;
    margin-top: 35px;
}

.info {
    float: right;
    font-size: 22px;
    padding-top: 100px;
    padding-right: 75px;
}

.tools {
    float: left;
    font-size: 28px;
    margin-left: 100px;
    margin-top: 25px;
    padding-bottom: 100px;
}

.tools ul {
    background-color: #b2dfda;
    display: flex;
    flex-direction: column;
}

.work {
    font-size: 18px;
    border: 1px solid #dc9e24;
    display: flex; 
    justify-content: space-around;
    padding-bottom: 100px;
    flex-direction: column;
}

.contact {
    font-size: 22px;
    border: 3px solid #dc9e24;
    margin: 100px auto;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 500px;
}

.card {
    background-color:#35535b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 16px;
    color:azure;
    border: 5px solid #dc9e24;
    display: flex;
}

.btn {
    background-color:#dc9e24
}

.title {
    font-size: 36px;
    color: #dc9e24;
}
